{
	email {$EMAIL}
}

# Redirect HTTP -> HTTPS
http://{$DOMAIN} {
	redir https://{$DOMAIN}{uri} 308
}

# Primary site (automatic certificates)
{$DOMAIN} {
	root * /srv
	encode zstd gzip
	try_files {path} /index.html

	@assets path /assets/*
	header /assets/* Cache-Control "public, max-age=2592000, immutable"
	header /styles/* Cache-Control "public, max-age=2592000, immutable"
	header /js/* Cache-Control "public, max-age=604800"

	file_server
}
