{
	email {env.EMAIL}
}

# Redirect HTTP -> HTTPS
http://{env.DOMAIN} {
	redir https://{env.DOMAIN}{uri} 308
}

# Primary site (automatic certificates)
{env.DOMAIN} {
	root * /srv/www
	try_files {path} /index.html

	encode zstd gzip

	@assets path_regexp assets ^/assets/.+\.(js|css|png|jpg|jpeg|gif|svg|webp|ico|mp3|mp4|woff2?)$
	header /assets/* Cache-Control "public, max-age=2592000, immutable"

	# (Optional) security headers
	#header {
	#	Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	#	X-Content-Type-Options "nosniff"
	#	Referrer-Policy "no-referrer-when-downgrade"
	#}

	file_server
}
